.todo {
  padding: 10px;
  border: 1px solid #eee;
}

.todo__check{
  width: 20%;
  display: inline-block;
}

.todo__description {
  width: 40%;
  display: inline-block;
  text-align: left;
}

.todo__date {
    width: 20%;
      display: inline-block;
}

.todo__status {
  width: 20%;
  display: inline-block;
  font-weight: bold;
}

.todo__status--finished { color: green }
.todo__status--pending { color: yellow }
.todo__status--late { color: red }
